ion-icon{
    font-size: x-large;
}
.title{
    padding-left: 2% !important;
    margin-left: 2% !important;
    font-size: large;
}
.buttons{
    font-size: medium;
    padding-left: 40% !important;
}
.q{
    padding-left: 7%;
    padding-right: 8%;
}
