@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

.login {
  width: 80%;
  height: 70%;
  margin-top: 25% !important;
  margin: auto;
  font-size: large;
}

/* Reset top and bottom margins from certain elements */
.login-header,
.login p {
  margin-top: 0;
  margin-bottom: 0;
}

.signUp{
  color: #456;
  text-align: center;
}

.signUp a:hover{
  color: rgb(173, 155, 240);
}

/* The triangle form is achieved by a CSS hack */
.login-triangle {
  width: 0;
  margin-right: auto;
  margin-left: auto;
  border: 12px solid transparent;
  border-bottom-color: rgb(173, 155, 240);
}

.login-header {
  background:  rgb(173, 155, 240);
  padding: 5%;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.login-container {
  background: #ebebeb;
  padding: 5%;
}

/* Every row inside .login-container is defined with p tags */
.login p {
  padding: 5%;
}

.login ion-input {
  box-sizing: border-box;
  color: #555;
  display: block;
  width: 100%;
  border-width: 2px;
  border-style: solid;
  padding: 10%;
  padding-left: 5% !important;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
}

.login ion-input{
  background: #fff;
  border-color: #bbb;
  color: #555;
}

/* Text fields' focus effect */
.login ion-input:hover{
  border-color:  rgb(173, 155, 240);
}

.login ion-input[type="submit"] {
  background:  rgb(173, 155, 240);
  border-color: transparent;
  color: #fff;
  cursor: pointer;
}

.login ion-input[type="submit"]:hover {
  background:  rgb(173, 155, 240);
}

/* Buttons' focus effect */
.login ion-input[type="submit"]:focus {
  border-color:  rgb(173, 155, 240);
}

ion-button{
  background-color:  rgb(173, 155, 240);
}
ion-button:hover{
  background-color:  rgb(160, 137, 240);
}